[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "module/IgnLess"]
	path = module/IgnLess
	url = git@github.com:ign/IgnLess.git
[submodule "module/IgnGravatar"]
	path = module/IgnGravatar
	url = git@github.com:ign/IgnGravatar.git
[submodule "module/IgnArticle"]
	path = module/IgnArticle
	url = git@github.com:ign/IgnArticle.git
