RewriteEngine On
RewriteBase /
# Until we have a homepage that actually matters let's just use the blog
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^.*$ http://code.ign.com/blog [R=302,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
