<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being comitted into version control.
 */

$emailAddresses = array(
    'example@gmail.com',
    'example@yahoo.com',
    'example@hotmail.com',
);

return array(
    'di' => array(
        'instance' => array(
            'article' => array(
                'parameters' => array(
                    'disqusPublicKey' => 'YOUR_PUBLIC_KEY',
                    'disqusSecretKey' => 'YOUR_SECRET',
                ),
            ),
            'people' => array(
                'parameters' => array(
                    'emailAddresses' => $emailAddresses,
                ),
            ),
            'IgnLess\View\Helper\HeadLinkLess' => array(
                'parameters' => array(
                    // Choose one to set the mode for IgnLess
                    //'mode' => \IgnLess\View\Helper\HeadLinkLess::MODE_COMPILED_MINIFIED,
                    //'mode' => \IgnLess\View\Helper\HeadLinkLess::MODE_COMPILED,
                ),
            ),
        ),
    ),
);
